@font-face {
    font-family: "Nanum";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/NanumSquareRoundL.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Nanum";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NanumSquareRoundR.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Nanum";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NanumSquareRoundB.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Nanum";
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Recipe";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Recipekorea 레코체 FONT.ttf') format('truetype'); /* Safari, Android, iOS */
}

